<ion-side-menus> <!-- Inicio de menu -->
  <ion-side-menu-content> <!-- Conteudo fora do menu -->
    <ion-nav-bar class="bar bar-header bar-positive">
      <ion-nav-buttons side="left"> <!-- Botao menu lado esquerdo -->
        <button class="button button-icon ion-navicon-round" menu-toggle></button> <!-- menu-toggle ativa menu -->
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuConteudo"></ion-nav-view> <!-- Aqui ira o conteudo das paginas -->
  </ion-side-menu-content>
  <ion-side-menu> <!-- inicio do menu -->
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title" align-title="center">HOME</h1>
    </ion-header-bar>
    <ion-content> <!-- Conteudo do menu -->
      <div class="list card"> <!-- inicio de carde -->
        <div class="item item-avatar"> <!-- caixa de perfil -->
          <img src="img/testeSBD.jpg">
          <h2>USER1</h2>
          <p>Conectado!</p>
        </div>
      </div>
      <ion-list> <!-- lista -->
        <ion-item menu-close class="item-icon-left" href="#/menu/Jornada" >
          <i class="icon ion-ios-paper" ></i>
          Jornada
        </ion-item>
        <ion-item menu-close class="item-icon-left" ui-sref="menu.maps">
          <i class="button button-icon icon ion-navigate" ></i>
          Rotas
        </ion-item>
        <ion-item menu-close class="item-icon-left" href="#/menu/login">
          <i class="button button-icon icon ion-log-in"></i>
          Logout
        </ion-item>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
